<div class="container">
    <div class="item">
        <h2>EmbeRadar</h2>
        <p>Example embedding web components in an Ember App</p>
    </div>

    <div class="item">
        <hub-content-card layout="vertical" content="4f5c78bfe89a4304aec3a6cfd492d0cd"></hub-content-card>
    </div>
    <div class="item">
       <hub-follow-button class="child" clientid="QVQNb3XfDzoboWS0" initiativeid="6f28b477336b46a889c16e4ceb61791e"> </hub-follow-button>`
    </div>
    <div class="item">
        <hub-radar map="false" webmap="2e725f2d5b7640b28121af931048894c" address="4321 12th St NE">
                <strong style="margin-left: 8px;" slot="before-input">Search your DC address</strong>
                <!-- <em slot="before-results">Local information</em> -->
                <em slot="after-results">Visit <a href="https://opendata.dc.gov">OpenData</a></em>
        </hub-radar>
    </div>    
    <div class="item">
        <hub-event clientid="QVQNb3XfDzoboWS0" eventtitle="Maryland Ave NE Streetscape Project Groundbreaking" orgurl="https://cityx.maps.arcgis.com"></hub-event>
    </div>   
    <div class="item">
        <hub-event clientid="QVQNb3XfDzoboWS0" eventtitle="Maryland Ave NE Streetscape Project Groundbreaking" orgurl="https://cityx.maps.arcgis.com"></hub-event>
    </div>        

            {{outlet}}

</div>